################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dependencies
/.vs
/build/xECSExamples.vs2019/x64
/build/xECSExamples.vs2019/.vs
/build/xECSExamples.vs2019/Game/Debug
/build/xECSExamples.vs2019/Game/.vs
/build/xECSExamples.vs2019/Game/x64
