################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dependencies
/.vs
/build/ExampleProject.vs2019/x64
/build/ExampleProject.vs2019/.vs/ExampleProject.vs2019/v16
